.courses {
    /* max-width: 1201px; */
    width: 100%;
}

.courses-heading {
    padding-bottom: 56px;
    color: #EBCE31;

}

.courses-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.courses-main-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    align-items: start;
}

.courses-main-cards-inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 16px;
    scrollbar-face-color: #49D043;
    /* Thumb color */
    scrollbar-track-color: #181A18;

}



@media(width<1280px) {
    .courses-main-cards-inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(width<798px) {
    .courses-main-cards-inner {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 14px;
    }

    .courses-heading {
        padding-bottom: 43px;
    }
}

@media(width<580px) {
    .courses-main-cards {
        gap: 21px;

    }

    .courses-main-cards-inner {
        display: flex;
        overflow-y: hidden;
        overflow-x: auto;
        gap: 9px;
        padding-bottom: 14px;

    }

    .courses-main-cards-inner::-webkit-scrollbar {
        display: flex;
        height: 7px;
        width: 5px;
        border-radius: 17px;
        border: 1px solid rgba(255, 255, 255, 0.09);
        background-color: #181A18;
    }

    .courses-main-cards-inner::-webkit-scrollbar-thumb {
        display: flex;
        border-radius: 29px;
        background-color: #49D043;
    }

}

@media(width<420px) {}

@media(width<374px) {}